@page
@model DevQuiz.WEB.Views.CSharpQuiz.CSharpQuizHardModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Vue Quiz</title>
    <style>
        @@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
        @@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh; /* Definindo a altura da tela inteira */
        }


        .button {
            transition: 0.3s;
        }

        .title, .subtitle {
            font-family: Montserrat, sans-serif;
            font-weight: normal;
        }

        .animated {
            transition-duration: 0.15s;
        }

        .questionBox {
            max-width: 30rem;
            width: 30rem;
            min-height: 30rem;
            background: #FAFAFA;
            position: relative;
            display: flex;
            border-radius: 0.5rem;
            overflow: hidden;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        }

            .questionBox header {
                background: rgba(0, 0, 0, 0.025);
                padding: 1.5rem;
                text-align: center;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

                .questionBox header h1 {
                    font-weight: bold;
                    margin-bottom: 1rem !important;
                }



                .questionBox header .progressContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                    .questionBox header .progressContainer > progress {
                        margin: 0;
                        border-radius: 5rem;
                        overflow: hidden;
                        border: none;
                        color: #3D5AFE;
                    }

                        .questionBox header .progressContainer > progress::-moz-progress-bar {
                            background: #3D5AFE;
                        }

                        .questionBox header .progressContainer > progress::-webkit-progress-value {
                            background: #3D5AFE;
                        }

                    .questionBox header .progressContainer > p {
                        margin: 0;
                        margin-top: 0.5rem;
                    }

            .questionBox .titleContainer {
                text-align: center;
                margin: 0 auto;
                padding: 1.5rem;
            }

            .questionBox .quizForm {
                display: block;
                white-space: normal;
                height: 100%;
                width: 100%;
            }

                .questionBox .quizForm .quizFormContainer {
                    height: 100%;
                    margin: 15px 18px;
                }

                    .questionBox .quizForm .quizFormContainer .field-label {
                        text-align: left;
                        margin-bottom: 0.5rem;
                    }

            .questionBox .quizCompleted {
                width: 100%;
                padding: 1rem;
                text-align: center;
            }

                .questionBox .quizCompleted > .icon {
                    color: #FF5252;
                    font-size: 5rem;
                }

                    .questionBox .quizCompleted > .icon .is-active {
                        color: #00E676;
                    }

            .questionBox .questionContainer {
                white-space: normal;
                height: 100%;
                width: 100%;
            }

                .questionBox .questionContainer .optionContainer {
                    margin-top: 12px;
                    flex-grow: 1;
                }

                    .questionBox .questionContainer .optionContainer .option {
                        border-radius: 290486px;
                        padding: 9px 18px;
                        margin: 0 18px;
                        margin-bottom: 12px;
                        transition: 0.3s;
                        cursor: pointer;
                        background-color: rgba(0, 0, 0, 0.05);
                        color: rgba(0, 0, 0, 0.85);
                        border: transparent 1px solid;
                    }

                        .questionBox .questionContainer .optionContainer .option.is-selected {
                            background-color: forestgreen;
                            color: wheat;
                        }

                        .questionBox .questionContainer .optionContainer .option.is-selected:hover {
                            background-color: forestgreen;
                            color: wheat;
                        }

                        .questionBox .questionContainer .optionContainer .option:hover {
                            background-color: #B3B3B3; /* Mantém a cor de fundo verde quando o mouse está sobre a opção */
                        }

                        .questionBox .questionContainer .optionContainer .option:active {
                            transform: scaleX(0.9);
                        }

                .questionBox .questionContainer .questionFooter {
                    background: rgba(0, 0, 0, 0.025);
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                    width: 100%;
                    align-self: flex-end;
                }

                    .questionBox .questionContainer .questionFooter .pagination {
                        margin: 15px 25px;
                    }

        .pagination {
            display: flex;
            justify-content: space-between;
        }

        .button {
            padding: 0.5rem 1rem;
            border: 1px solid rgba(0, 0, 0, 0.25);
            border-radius: 5rem;
            margin: 0 0.25rem;
            transition: 0.3s;
        }


        @@media screen and (min-width: 769px) {
            .questionBox {
                align-items: center;
                justify-content: center;
            }

                .questionBox .questionContainer {
                    display: flex;
                    flex-direction: column;
                }
        }

        @@media screen and (max-width: 768px) {
            .sidebar {
                height: auto !important;
                border-radius: 6px 6px 0px 0px;
            }
        }
    </style>
</head>
<body>
    <!--container-->
    <section class="container">
        <!--questionBox-->
        <div class="questionBox" id="app">
            <!-- transition -->
            <transition :duration="{ enter: 500, leave: 300 }" enter-active-class="animated zoomIn" leave-active-class="animated zoomOut" mode="out-in">
                <!--qusetionContainer-->
                <div class="questionContainer" v-if="questionIndex<quiz.questions.length" v-bind:key="questionIndex">
                    <header>
                        <h1 class="title is-6">C#/.NET Quiz</h1>
                        <!--progress-->
                        <div class="progressContainer">
                            <progress class="progress is-info is-small" :value="(questionIndex/quiz.questions.length)*100" max="100">{{(questionIndex/quiz.questions.length)*100}}%</progress>
                            <p>{{(questionIndex/quiz.questions.length)*100}}% complete</p>
                        </div>
                        <!--/progress-->
                    </header>

                    <!-- questionTitle -->
                    <h3 class="titleContainer title">{{ quiz.questions[questionIndex].text }}</h3>

                    <!-- quizOptions -->
                    <div class="optionContainer">
                        <div class="option" v-for="(response, index) in quiz.questions[questionIndex].responses" @@click="selectOption(index)" :class="{ 'is-selected': userResponses[questionIndex] == index}" :key="index">
                            {{ index | charIndex }}. {{ response.text }}
                        </div>
                    </div>

                    <!--quizFooter: navigation and progress-->
                    <footer class="questionFooter">
                        <!--pagination-->
                        <nav class="pagination" role="navigation" aria-label="pagination">
                            <!-- back button -->
                            <a type="button" class="btn btn-outline-dark" v-on:click="prev()" :disabled="questionIndex < 1">Voltar</a>
                            <!-- next button -->
                            <a type="button" class="btn btn-outline-dark" :class="(userResponses[questionIndex]==null)?'':'is-active'" v-on:click="next();" :disabled="questionIndex>=quiz.questions.length">{{ (userResponses[questionIndex]==null)?'Pular':'Proximo' }}</a>
                        </nav>
                        <!--/pagination-->
                    </footer>
                    <!--/quizFooter-->
                </div>
                <!--/questionContainer-->
                <!--quizCompletedResult-->
                <div v-if="questionIndex >= quiz.questions.length" v-bind:key="questionIndex" class="quizCompleted has-text-centered">
                    <!-- quizCompletedIcon: Achievement Icon -->
                    <span class="icon">
                        <i class="fa" :class="score()>3?'fa-check-circle-o is-active':'fa-times-circle'"></i>
                    </span>

                    <!--resultTitleBlock-->
                    <h3 class="title">
                        {{ (score()>7?'Incrivel!' :( score()<4?' Dá uma estudada e tenta denovo!':'Boa!')) }}
                    </h3>
                    <p class="subtitle">
                        Seu Score: {{ score() }} / {{ quiz.questions.length }}
                    </p>
                    <br>
                    <!-- New hidden input element to store the score value -->
                    <input type="hidden" name="score" :value="score()">

                    <a class="button" @@click="restart()">restart <i class="fa fa-refresh"></i></a>
                    <!--/resultTitleBlock-->
                </div>
                <!--/quizCompetedResult-->
            </transition>
        </div>
        <!--/questionBox-->
    </section>
    <!--/container-->
    <!-- Vue.js library -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var quizReact = {
    user: "User",
    questions: [
        {
            text: "O que é o React?",
            responses: [
                { text: "Um framework de back-end para Node.js" },
                { text: "Um sistema de gerenciamento de banco de dados" },
                { text: "Uma biblioteca de JavaScript para construir interfaces de usuário", correct: true },
                { text: "Uma linguagem de programação para desenvolvimento web" }
            ]
        },
        {
            text: "O que o JSX representa em React?",
            responses: [
                { text: "JavaScript XML" },
                { text: "JavaScript XHR" },
                { text: "JavaScript XSL" },
                { text: "JavaScript XML", correct: true }
            ]
        },
        {
            text: "Qual hook é usado para adicionar estado a um componente funcional no React?",
            responses: [
                { text: "useState", correct: true },
                { text: "useEffect" },
                { text: "useReducer" },
                { text: "useContext" }
            ]
        },
        {
            text: "Em React, qual é a forma correta de renderizar condicionalmente um elemento?",
            responses: [
                { text: "if (condition) { <Element /> }" },
                { text: "{ condition ? <Element /> : null }", correct: true },
                { text: "<Element condition={true} />" },
                { text: "{ <Element condition={true} /> }" }
            ]
        },
        {
            text: "Qual é a finalidade da propriedade key em um componente React?",
            responses: [
                { text: "Identificar unicamente um elemento no DOM" },
                { text: "Definir um valor padrão para um componente" },
                { text: "Determinar a prioridade de renderização de um componente" },
                { text: "Melhorar o desempenho do componente", correct: true }
            ]
        },
        {
            text: "Como você pode evitar a re-renderização desnecessária de um componente em React?",
            responses: [
                { text: "Usando a propriedade shouldComponentUpdate" },
                { text: "Utilizando o hook useMemo" },
                { text: "Implementando o método componentWillUpdate" },
                { text: "Usando o hook React.memo", correct: true }
            ]
        },
        {
            text: "Em React, qual é a forma correta de lidar com eventos?",
            responses: [
                { text: "Atribuir o evento diretamente ao elemento, por exemplo, <button onclick={handleClick} />" },
                { text: "Usar a propriedade eventListener, por exemplo, <button eventListener='click' handler={handleClick} />" },
                { text: "Atribuir o evento usando camelCase, por exemplo, <button onClick={handleClick} />", correct: true },
                { text: "Adicionar um ouvinte de evento diretamente no estado do componente" }
            ]
        },
        {
            text: "Qual método é chamado imediatamente após o componente ser removido do DOM em React?",
            responses: [
                { text: "componentDidUnmount" },
                { text: "componentRemoved" },
                { text: "componentWillUnmount", correct: true },
                { text: "componentDeleted" }
            ]
        },
        {
            text: "Em React, qual hook é usado para executar efeitos colaterais, como chamadas de API ou manipulação do DOM?",
            responses: [
                { text: "useEffect", correct: true },
                { text: "useFetch" },
                { text: "useLifecycle" },
                { text: "useRender" }
            ]
        },
        {
            text: "Em React, qual é a forma correta de passar dados de um componente pai para um componente filho?",
            responses: [
                { text: "Usar o método getChildProps() no componente filho" },
                { text: "Passar os dados diretamente na declaração do componente filho, por exemplo, <ChildComponent data={data} />", correct: true },
                { text: "Definir os dados como propriedades globais" },
                { text: "Atribuir os dados ao estado do componente filho no método componentDidMount" }
            ]
        }
    ]
};


        var userResponseSkelaton = Array(quiz.questions.length).fill(null)

        var app = new Vue({
            el: "#app",
            data: {
                quiz: quiz,
                questionIndex: 0,
                userResponses: userResponseSkelaton,
                isActive: false
            },
            filters: {
                charIndex: function (i) {
                    return String.fromCharCode(97 + i);
                }
            },
            methods: {
                restart: function () {
                    this.questionIndex = 0;
                    this.userResponses = Array(this.quiz.questions.length).fill(null);
                },
                selectOption: function (index) {
                    Vue.set(this.userResponses, this.questionIndex, index);
                },
                next: function () {
                    if (this.questionIndex < this.quiz.questions.length)
                        this.questionIndex++;
                },

                prev: function () {
                    if (this.quiz.questions.length > 0) this.questionIndex--;
                },
                score: function () {
                    var score = 0;
                    for (let i = 0; i < this.userResponses.length; i++) {
                        if (
                            typeof this.quiz.questions[i].responses[
                            this.userResponses[i]
                            ] !== "undefined" &&
                            this.quiz.questions[i].responses[this.userResponses[i]].correct
                        ) {
                            score = score + 1;
                        }
                    }

                    return score;
                }
            }
        });
    </script>
</body>
</html>




